body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.siteloader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8);
}
.dashboardContainer{
    background-color: '#cfe8fc';
    height: '100vh';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}
.dashboardTitle{
    font-size: 40;
    color: 'rebeccapurple';
    font-weight: 600;
}
.dashboardToken{
    font-size: 24;
    font-weight: 600;
}
.textFieldContainer{
 display: 'grid'; 
}
.textFieldError{
  color: 'red';
}